mixin sidebar(urlsList = {})
    .sidebar
        .toogle-btn
        ul
            each list in urlsList
                if list
                    each val in list
                        li(data-tooltip-text=`URL: ${val.url}
                        DeadLine: ${val.deadLine}`, data-html="true", 
                        id=`${email}||${val.url}`
                        class="urlList")=val.name
                else
                    li='N/A'
        //- .map
        //-     img(class="map-img" src="https://url-checker-sample.s3.ap-northeast-2.amazonaws.com/map.png")