extends layouts/main

block content
    .join
        .join-form.global-form
            span URL CHECKER JOIN
            form(action=routes.join, method="post")
                input(type="email", name="email", placeholder="Email", required=true)
                input(type="password", name="password", placeholder="Password", required=true)
                input(type="password", name="password2", placeholder="Verify Password", required=true)
                input(type="submit", value="Join Now")
            if message
            span=message